.cipher_output_container {
    position: relative;
}

.copy-button {
    position: absolute;
    top: 2px;
    right: 14px; 
    z-index: 10;
    width: 44px;
    height: 34px;
    background-color: none;
}

.btn.btn-primary.btn-custom-color {
    background-color: #26619c;
    color: #6790b9;
}

.btn.btn-primary.btn-custom-color:focus {
    box-shadow: none;
    outline: none;
}

.btn.btn-primary:focus {
    outline: none;
    box-shadow: none;
}

#bottom_padding {
    height: 150px;
}

#copy_confirm_text {
    text-align: center;
    font-weight: bold;
    padding: 10px

}
